[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
	branch = fuse-2_9_bugfix

[submodule "winfsp"]
	path = winfsp
	url = https://github.com/billziss-gh/winfsp.git
    branch = master