[submodule "libfuse2"]
	path = libfuse2
	url = https://github.com/libfuse/libfuse.git
	branch = fuse_2_9_bugfix

[submodule "winfsp"]
	path = winfsp
	url = https://github.com/billziss-gh/winfsp.git
    branch = master